.bg-wrapper h1,
h2,
h3 {
  font-family: Sans-serif;
  color: white;
  font-size: 8em;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
}

.bg-wrapper h3 {
  font-size: 2em;
}

.bg-wrapper h2 {
  font-size: 2em;
}

.bg-wrapper::before {
  content: "";
  /* position: absolute; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.centered {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header{
  width: 100%;
  height: 50px;
}
.top-left{
  color: white;
  position: fixed;
  margin: 0px 10px;
  padding: 5px;
  top: 2vh;
  left: 2vh;
}
.top-left h2{
  color: #0080ff;
  font-family: "Nunito", Sans-serif;
  font-size: 35px;
  line-height: 1.1em;
  letter-spacing: -1.4px;
  font-weight: 600;
  margin: 0 5px;
}
.logovideo{
  /* width: 10rem;
  height: 10rem; */
  text-align: center;
}
.top-right {
  position: fixed;
  top: 2vh;
  right: 2vh;
}

.bottom-third {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-text h1,
h2 {
  display: inline;
}

.quote {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

#quote-text {
  font-size: 2vw;
}

#location {
  margin-top: 5px
}

.weather {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 2.5vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

/* Settings */
.bottom-right {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

#settings {
  font-family: "Helvetica Neue";
  color: white;
  font-size: 1.5vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}
#settings button{
  color: white;
  background: none;
  border: none;
}
.fa {
  position: relative;
  padding-right: 3px;
}
.ReactModal__Overlay{
  background-image: url(../assets/tunnel.jpg);
  background-size: cover;
  background-position: center;
}
.modal-content{
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
}
.modal-title{
  color: white;
  text-align: center;
  margin: 5px 0px;
  font-size: x-large;
  font-weight: 600;
}
.modal-input{
  text-align: center;
  margin: 5px 0px;
}
.modal-input input{
  width: 250px;
  height: 40px;
}
.modal-btn{
  text-align: center;
}
.modal-button{
  margin: 5px 0px;
  font-size: larger;
  font-weight: 600;
  color: white;
  background-color: #0080ff;
  border-color: #0080ff;
  border-radius: 5px;
  padding: 5px 10px;
}
.center-right{
  position: fixed;
  top: 35%;
  right: 2vh;
  width: 450px;
  text-align: center;
}
.dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover{
    box-shadow: none!important;
  }
  .dropdown-item button{
    background: none;
    border: none;
    color: black;
    width: 100%;
    text-align: left!important;
    /* padding: 0.5rem 1rem; */
    padding: 0.35rem 1rem;/*  Spacing trial */
  }
  .dropdown-item button:hover, .dropdown-item button:active, .dropdown-item button:focus{
    background: none;
    border: none;
    outline: none;
    color: white;
    /* opacity: 0.8; */
    background: lightgrey;
  }
.search{
    text-align: center;
    position: relative;
    width: 100vw;
    height: 24%;
    margin-bottom: 1%;
    margin-top: 1%;
  }
  .search .container{
    display: inline-flex;
  }
  .search svg{
    color: white;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 0 1px 0;
  }
  .search form{
    display: inline-flex;
  }
  #searchSubmit{
    vertical-align: middle;
    margin: 5px;
  }
  .searchbar{
    display: inline-flex;
    background: transparent;
    opacity: 1;
    overflow: visible;
    width: 270px;
    height: 40px;
    border: 2.5px solid white;
    border-radius: 25px;
  }
  .searchbar:hover, .searchbar:active, .searchbar:focus{
    background: white;
    opacity: 1;
    overflow: visible;
    width: 270px;
    height: 40px;
    border: 2.5px solid white;
    border-radius: 25px;
    color: black;
  }
  .searchbar:hover, .searchbar:active, .searchbar:focus + .search svg{
    background: white;
    opacity: 1;
    overflow: visible;
    width: 270px;
    height: 40px;
    border: 2.5px solid white;
    border-radius: 25px;
    color: black;
  }
  .searchbar:hover svg{
    color: black;
  }
  .searchbar input{
    border: none;
    outline: none;
    background: none;
    width: 220px;
    height: 35px;
    margin: 2px 5px;
  }
  .searchbar #searchsubmit{
    background-color: transparent;
    /* border: none; */
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none!important;
  }
  
.search .dropdown-menu{
    min-width: auto!important;
    height: auto;
    overflow: auto;
    left: -135px!important;
    top: 10px!important;
    background-color: white;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
  }
  .search .dropdown-menu:hover, .search .dropdown-menu:active, .search .dropdown-menu:focus{
    min-width: auto!important;
    left: -135px!important;
    top: 10px!important;
    background-color: white;
  }
  .search input{
    width: 210px;
    font-size: 16px!important;
  }
  .search input::placeholder{
    font-size: 16px;
    color: transparent;
  }
  input:focus::-webkit-input-placeholder, input:active::-webkit-input-placeholder, input:hover::-webkit-input-placeholder{
    color: grey;
  }
  .search .dropdown{
    width: 20px;
  }
  .search .dropdown .row{
    justify-content: flex-end;
  }
  .search .btn{
    padding: .375rem 0rem;
    /* margin-left: -2rem; */
  }
  #searchsubmit{
    width: 20px;
  }
  .search .dropdown-item svg{
    width: 24px;
    height: 24px;
    color: #25828c;
  }
  #searchsubmit svg, .searchsubmit img{
    width: 16px;
    height: 16px;
  }
  #searchsubmiticon{
    background: none;
    border: none;
    outline: none;
    width: 16px;
    height: 16px;
  }
  .searchbar:hover #searchsubmiticon, .searchbar:active #searchsubmiticon, .searchbar:focus #searchsubmiticon{
    display: none;
  }
  .searchbar #searchsubmitimg{
    display: none;
  }
  .searchbar:hover #searchsubmitimg, .searchbar:hover #searchsubmitimg, .searchbar:focus #searchsubmitimg{
    display: inline-block;
  }
  .search .header {
    width: 100%;
    height: auto;
    /* padding: 0.25rem 0.5rem; */
    padding: 0rem 0.5rem; /*Spacing trial*/
    letter-spacing: 1px;
    opacity: .75;
    font-size: .625rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  .searchbar:hover, .searchbar .active, .searchbar:focus
  {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
  }
  .searchbar:after
  {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }
  .search .dropdown-item{
    padding: 0!important;
  }
  .searchbar .dropdown-toggle svg{
    color: transparent;
  }
  .searchbar:hover .dropdown-toggle svg{
    color: black;
  }
  .dropdown-toggle::after{
      display: none;
  }
  /* .center-right{
      width: 500px;
  } */
  .carousel-indicators{
      display: none;
  }
  .carousel-item{
    position: relative;
    display: none;
    float: left;
    height: 350px;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
  }
  /* .carousel-inner{
      width: 70%;
      left: 15%;
  } */
  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: -25px;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
@media screen and (max-width: 678px){
  .centered{
    top: 25%;
  }
  .logovideo video{
    width: 3rem!important;
    height: 3rem!important;
  }
  #time, #ampm, #greetings{
    font-size: 2em;
  }
  .center-right{
    width: 100vw;
    right: 0vh;
  }
  .searchbar{
    display: inline-flex;
    background: transparent;
    opacity: 1;
    overflow: visible;
    width: 210px;
    height: 40px;
    border: 2px solid white;
    border-radius: 25px;
  }
  .searchbar:hover, .searchbar:active, .searchbar:focus + .search svg{
    background: white;
    opacity: 1;
    overflow: visible;
    width: 210px;
    height: 40px;
    border: 2px solid white;
    border-radius: 25px;
    color: black;
  }
  .searchbar:hover svg{
    color: black;
  }
  .search input{
    border: none;
    outline: none;
    background: none;
    width: 150px;
    height: 35px;
    /* margin: 2px 5px; */
  }
  .search input{
    width: 150px;
    padding: 5px;
    font-size: 14px;
  }
  .search input::placeholder{
    font-size: 14px;
  }
  .search .btn{
    padding: .375rem 0rem;
    /* margin-left: -2rem; */
  }
  .searchbar .dropdown-menu{
    left: -120px!important;
  }
  .search .dropdown-menu:hover, .search .dropdown-menu:active, .search .dropdown-menu:focus{
    min-width: auto!important;
    left: -120px!important;
  }
  .search .dropdown-item svg, .search .dropdown-item img{
    width: 16px!important;
    height: 16px!important;
  } 
  .search .dropdown-item{
    font-size: 14px;
    color: white!important;
    padding: 1px;
  }
}
